<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Average Test Score</h5>
                <p class="card-text">85%</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Assessments Completed</h5>
                <p class="card-text">120</p>
            </div>
        </div>
    </div>
    <!-- Add more cards for other metrics -->
</div>
